<!-- <div class="container"> -->
   <!---------------- NavBar ---------------->
<div>
    <header> 
      <app-header></app-header>
      <ng-multiselect-dropdown [placeholder]="'Select Movie BY Genre'" [settings]="dropdownSettings" [data]="dropdownList" (onDeSelect)="onItemSelect($event)"
        [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" >
      </ng-multiselect-dropdown>   
    </header> 
  </div>
  <!--------------- Main-Content ----------------------->
  <div class="">
    <main >
        <body id="page-top">
  <!--------------- Home_Banner ----------------->
            <div class="user-home-banner"style="background-image:url(https://assets-in.bmscdn.com/iedb/movies/images/mobile/listing/xxlarge/major-et00097589-27-05-2022-08-31-06.jpg);width: 100%;height: 500px;">
                <img [src]="nextImg" style="width:100%;height: 500px;" >
            </div>
  <!-------------- List Of Movies ------------------->
            <div class="cards-container">
              <section class="cards-wrapper" *ngFor="let item of movies">
                <div class="col1">
                <div class="card-grid-space">
                    <a class="card" style="--bg-img: url({{item.image}})" routerLink="{{item.id}}">
                        <div>
                            <h3 style="color: white;">{{item.title}}</h3>
                            <!-- <div class="date">{{item.dateOfRelease}}</div> -->
                        </div>
                    </a>
                </div>
                </div>
              </section>
            </div>
  <!-------------- List Of Movies ------------------->
        </body>
    </main>
  </div>
  <!---------------- Footer ---------------->
  <div class="row">
    <footer>
      <app-footer></app-footer>      
    </footer>
  </div>
<!-- </div>    -->