<div class="footer-container">
    <div class="footer-dark">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 item">
                        <h3>Movies By Genre</h3>
                        <ul>
                            <li><a routerLink="/user-home">Drama</a></li>
                            <li><a routerLink="/user-home">Action</a></li>
                            <li><a routerLink="/user-home">Thriller</a></li>
                            <li><a routerLink="/user-home">Romantic</a></li>
                            <li><a routerLink="/user-home">Comedy</a></li>
                            <li><a routerLink="/user-home">Adventure</a></li>
                            <li><a routerLink="/user-home">Crime</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a routerLink="/user-home">Web design</a></li>
                            <li><a routerLink="/user-home">Development</a></li>
                            <li><a routerLink="/user-home">Hosting</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li><a routerLink="/user-home">Company</a></li>
                            <li><a routerLink="/user-home">Team</a></li>
                            <li><a routerLink="/user-home">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 item text">
                        <h3>CUBEMOVIES</h3>
                        <p><p>CopyRights 2023 &copy; BB Entertainment Pvt.Ltd All Rights Reserved</p>
                    </div>
                    <div class="footer-logo">
                        <div class="horizontal_line"></div>
                        <a class="footer_anchor" routerLink="/user-home">
                            <!-- <img class="footer_img" src="//in.bmscdn.com/webin/common/icons/logo.svg" alt=""> -->
                            <img class="footer_img" src="assets/img/logo.PNG" alt="QubeMovies">
                        </a>
                        <div class="horizontal_line"></div>
                    </div>
                    <div class="col item social">
                        <a routerLink="/user-home"><img class="icon-img" src="assets/img/f1.svg" alt=""></a>
                        <a routerLink="/user-home"><img class="icon-img" src="assets/img/twitter.svg" alt=""></a>
                        <a routerLink="/user-home"><img class="icon-img" src="assets/img/yt.svg" alt=""></a>
                        <a routerLink="/user-home"><img class="icon-img" src="assets/img/f1.svg" alt=""></a>
                    </div>
                </div>
                <p class="copyright">QubeMovies &copy; 2023</p>
            </div>
        </footer>
    </div>