header{
    text-align: center;
    padding-top: 0px;
    height: 50px; 
}

main{
    padding: 50px 20px;
    min-height: fit-content;
    background-color: beige;  
}

footer{
    /* padding-top: 40px; */
    min-height: 100px;
    text-align: center;
}


.back {
    /* background: #e2e2e2; */
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
  }
  h3{
    text-align: center;
  }
  
  form .row{
    padding: 10px;
  }

  .div-center {
    width: 500px;
    height: 400px;
    background-color: #fff;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    padding: 1em 2em;
    border-bottom: 2px solid #ccc;
    display: table;
  }
  
  div.content {
    display: table-cell;
    vertical-align: middle;
  }